{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="sermons-content-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sermons-content-thumbnail">
                    <img src="{{ event.thumbnail.url }}" alt="">
                </div>
                <!-- Sermons Text -->
                <div class="sermons-text text-center">
                    <h2>{{ event.title }}</h2>
                    <div class="sermons-meta-data d-flex flex-wrap justify-content-center">
                        <p><i class="fa fa-user" aria-hidden="true"></i> {{ event.categories }}</span></p>
                        <p><i class="fa fa-tag" aria-hidden="true"></i> {{ event.location }}</span></p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.date }}</span></p>
                        <p><i class="fa fa-clock-o" aria-hidden="true"></i> {{ event.time }}</span></p>
                    </div>
                    <p>{{ event.overview }}</p>
                    <div class="read-more-share d-flex flex-wrap justify-content-between">
                        <!-- Share -->
                        <div>
                            <a href="{% url 'event-update' id=event.id %}">Update</a>
                            <a href="{% url 'event-delete' id=event.id %}">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}