<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <!--<a href="#" class="footer-logo"><img src="img/core-img/logo2.png" alt=""></a>-->
                        <p>To every thing there is a season, and a time for every purpose under the heaven</p>
                        <cite aria-hidden="true">&#8212; Ecclesiates 3:1</cite>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Quick Link</h5>
                        <nav class="footer-menu">
                            <ul>
                                <li><a href="{% url 'index' %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Home</a></li>
                                <li><a href="{% url 'events' %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Event</a></li>
                                <li><a href="{% url 'about' %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> About Us</a></li>
                                <li><a href="{% url 'sermons' %}"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Sermons</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Events Latest</h5>

                        <!-- Single Latest News -->
                        <div class="single-latest-news">
                            <a href="#">Youth Camp</a>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i> November 11, 2017</p>
                        </div>

                        <!-- Single Latest News -->
                        <div class="single-latest-news">
                            <a href="#">Easter Sunday</a>
                            <p><i class="fa fa-calendar" aria-hidden="true"></i> November 11, 2017</p>
                        </div>

                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-footer-widget mb-70">
                        <h5 class="widget-title">Contact Us</h5>

                        <div class="contact-information">
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Destiny Faith Ministries, Kenya</p>
                            <a href="callto:+(254) 726 847 488"><i class="fa fa-phone" aria-hidden="true"></i>+(254) 726 847 488</a>
                            <a href="mailto:thikatownparish@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> destinyfaithministries@gmail.com</a>
                            <p><i class="fa fa-clock-o" aria-hidden="true"></i> Mon - Fri: 08.00am - 18.00pm</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Copwrite Area -->
    <div class="copywrite-area">
        <div class="container h-100">
            <div class="row h-100 align-items-center flex-wrap">
                <!-- Copywrite Text -->
                <div class="col-12 col-md-6">
                    <div class="copywrite-text">

                          <p>
                          &copy; Wurmtech developers 2019.<a href="https://wurmtech.com" target="_blank">Wurmtech</a>

                          </p>
                    </div>
                </div>

                <!-- Footer Social Icon -->
                <div class="col-12 col-md-6">
                    <div class="footer-social-icon">
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>