{% load static %}

<header class="header-area">

    <!-- ***** Top Header Area ***** -->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="top-header-content d-flex flex-wrap align-items-center justify-content-between">
                        <!-- Top Header Meta -->
                        <div class="top-header-meta d-flex flex-wrap">
                            <a href="#" class="open" data-toggle="tooltip" data-placement="bottom" title="10 Am to 6 PM"><i class="fa fa-clock-o" aria-hidden="true"></i> <span>Opening Hours - 8 Am to 6 PM</span></a>
                            <!-- Social Info -->
                            <div class="top-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <!-- Top Header Meta -->
                        <div class="top-header-meta">
                            <a href="mailto:thikatownparish@gmail.com" class="email-address"><i class="fa fa-envelope" aria-hidden="true"></i> <span>destinyfaithministries</span></a>
                            <a href="#" class="phone"><i class="fa fa-phone" aria-hidden="true"></i> <span>612-306-9859</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Top Header Area ***** -->

    <!-- ***** Navbar Area ***** -->
    <div class="crose-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="croseNav">

                    <!-- Nav brand -->
                    <a href="{% url 'index' %}" class="nav-brand"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- close btn -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'events' %}">Events</a></li>
                                <li><a href="{% url 'sermons' %}">Sermons</a></li>
                                <li><a href="{% url 'about' %}">About</a></li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                <li class="nav-item dropdown" data-toggle="dropdown">
                                    <a class="nav-link px-3 dropdown-toggle" href="#">Ministries</a>
                                    <div class="dropdown-menu">
                                        <a href="#"  onclick="window.location.href=`{% url 'youth-page' %}`" class="dropdown-item">Youth Ministries</a>
                                        <a href="#"  onclick="window.location.href=`{% url 'men-page' %}`" class="dropdown-item">Men Ministries</a>
                                        <a href="#"  onclick="window.location.href=`{% url 'women-page' %}`"  class="dropdown-item">Women Ministries</a>
                                        <a href="#"  onclick="window.location.href=`{% url 'children-page' %}`" class="dropdown-item">Children Ministries</a>
                                        <a href="#"  onclick="window.location.href=`{% url 'bible-study' %}`" class="dropdown-item">Bible Study</a>
                                        <a href="#"  onclick="window.location.href=`{% url 'midweek-study' %}`" class="dropdown-item">Midweek Study</a>
                                        <a href="#"  onclick="window.location.href=`{% url 'morning-devotion' %}`" class="dropdown-item">Morning Devotion</a>
                                    </div>    
                                </li>
                            </ul>

                            <!-- Search Button -->
                            <div id="header-search"><i class="fa fa-search" aria-hidden="true"></i></div>

                            <!-- Donate Button -->   
                            {% if request.user.is_authenticated %}
                            Logged in as: {{ request.user.username }}
                            <a href="{% url 'logout' %}" class="ml-3 btn crose-btn header-btn">Log out</a>
                            {% else %}
                            <a href="{% url 'login' %}" class="btn crose-btn header-btn">Log in</a>
                            {% endif %}                        

                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>

        <!-- ***** Search Form Area ***** -->
        <div class="search-form-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12">
                        <div class="searchForm">
                            <form action="#" method="post">
                                <input type="search" name="search" id="search" placeholder="Enter keywords &amp; hit enter...">
                                <button type="submit" class="d-none"></button>
                            </form>
                            <div class="close-icon" id="searchCloseIcon"><i class="fa fa-close" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Navbar Area ***** -->
</header>