{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ##### Breadcrumb Area Start ##### -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Midweek</li>
                        </ol>
                        {% if request.user.is_staff %}
                        <a href="{% url 'sermon-create' %}">Create a Midweek study</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->

    <!-- ##### Latest Sermons Area Start ##### -->
    <section class="latest-sermons-area">
        <div class="container">
            <div class="row">
                <!-- Section Heading -->
                <div class="col-12">
                    <div class="section-heading">
                        <h2>MIDWEEK SERVICES</h2>
                        <p>Loaded with fast-paced worship, activities, and video teachings to address real issues that students face each day</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Latest Sermons -->
                {% for sermon in queryset %}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-latest-sermons mb-100">
                        <div class="sermons-thumbnail">
                            <a href="{{ sermon.get_absolute_url }}">
                                <img src="{{ sermon.thumbnail.url }}" alt="">
                            </a>  
                            <!-- Date -->
                            <!-- <div class="sermons-date">
                                <h6><span>{{ object.comment_count }}</span></h6>
                            </div> -->
                        </div>
                        <div class="sermons-content">
                            <a href="{{ sermon.get_absolute_url }}"> 
                                <h4>{{ sermon.title }}</h4>
                             </a>  
                            <div class="sermons-meta-data">
                                <p><i class="fa fa-user" aria-hidden="true"></i> Sermon From: <span>{{ sermon.sermon_from }}</span></p>
                                <!-- <p><i class="fa fa-tag" aria-hidden="true"></i> Categories: <span>God, Pray</span></p> -->
                                <p><i class="fa fa-clock-o" aria-hidden="true"></i>{{ sermon.timestamp|timesince }} ago</p>
                                <p><i class="fa fa-comments" aria-hidden="true"></i> {{ sermon.comment_count }} </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <!-- ##### Paginator ##### -->
                <div class="col-12">
                    <div class="pagination-area mt-70">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if queryset.has_previous %}
                                <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                                {% endif %}
                                <li class="page-item active"><a class="page-link" href="?{{ page_request_var }}={{ queryset.number }}">{{ queryset.number }}</a></li>
                                {% if queryset.has_next %}
                                <li class="page-item"><a class="page-link" href="?{{ page_request_var }}={{ queryset.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- ##### Latest Sermons Area End ##### -->

    <!-- ##### Subscribe Area Start ##### -->
    <section class="subscribe-area">
        <div class="container">
            <div class="row align-items-center">
                <!-- Subscribe Text -->
                <div class="col-12 col-lg-6">
                    <div class="subscribe-text">
                        <h3>Subscribe To Our Newsletter</h3>
                        <h6>Subcribe Us And Tell Us About Your Story</h6>
                    </div>
                </div>
                <!-- Subscribe Form -->
                <div class="col-12 col-lg-6">
                    <div class="subscribe-form text-right">
                        <form action="#">
                            <input type="email" name="subscribe-email" id="subscribeEmail" placeholder="Your Email">
                            <button type="submit" class="btn crose-btn">subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Subscribe Area End ##### -->

{% endblock content %}
